@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

/* Title font letter spacing */
.font-serif {
    letter-spacing: 0.02em;
}

/* ||||||||||||||||| Header ||||||||||||||||||||||||||| */
.nav {
    display: flex;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

.site-head li {
    display: block;
    margin: 0;
    padding: 0;
}

.site-head {
    background-color: #d1d0d6;

    @media (min-width: 993px) {
        background-color: #c5d3d1;
    }
}

.site-head.gray-head {
    background-color: #d1d0d6;
}

.site-head.scrolled,
.site-head.gray-head.scrolled {
    @media (min-width: 993px) {
        background-color: #fff;
    }
}

.site-head-left a,
.site-head-right a {
    display: block;
    margin: 0;
    padding: 10px 12px;
    color: #3b3b3b;
    font-weight: 600;
    opacity: 0.85;
    font-family: "Mulish", sans-serif;
    transition: all 2s ease-in;
}

.site-head-left.scrolled a,
.site-head-right.scrolled a {
    @media (min-width: 993px) {
        color: #3b3b3b;
    }
}

.nav-current a,
.site-head a:hover {
    /* @media (min-width: 993px) { */
    /* text-decoration: underline; */
    @apply rounded;
    background-color: rgba(74, 148, 98, 0.7);
    border: none;
    text-decoration: none;
    /* } */
}

.site-head-logo {
    flex-shrink: 0;
    display: block;
    padding: 10px;
    color: #3b3b3b;
    font-size: 2.1rem;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.site-head-logo:hover {
    text-decoration: none;
}

.site-head-logo img {
    display: block;
    margin-top: 2px;
    width: auto;
    height: 28px;
}

/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
    display: none;
    position: absolute;
    left: 20px;
    z-index: 2;
    padding: 12px 12px 12px 0;
}

@media (max-width: 62em) {
    .nav-burger {
        display: block;
    }

    .site-head-left a,
    .site-head-right a {
        margin: 8px 0;
        padding: 1px 0;
        font-size: 2.6rem;
        line-height: 1.15em;
        font-weight: 200;
        opacity: 0;
        transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
            opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: scale(1.1) translateY(-25px);
    }

    .site-head-right a {
        padding: 5px 0;
        margin: 1px 0;
        font-size: 2rem;
    }

    .site-head-open .site-head-right a:hover {
        text-decoration: none;
        opacity: 1;
        transition: opacity 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .nav,
    .nav-center {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3vw 0 0 0;
    }

    .center-nav-container {
        height: 100px;
        transition: height 0.2s ease-in;
    }

    .site-head-open .center-nav-container {
        height: 100vh;
        transition: height 0.2s ease-in;
    }

    .site-head-open {
        background: rgba(255, 255, 255, 1);
        transition: background 0.5s ease-out;
        transition-delay: 0.25;
        overflow: hidden;
        height: 100vh;
    }

    .site-head-open .site-head-container {
        height: 100vh;
        transition: height 0.2s ease-in;
    }

    .site-head-open .site-head-left,
    .site-head-open .site-head-right {
        z-index: 2;
        height: auto;
        transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .site-head-open .site-head-right {
        justify-content: flex-start;
    }

    .site-head-open .site-head-left a,
    .site-head-open .site-head-right a {
        opacity: 1;
        transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
            opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: scale(1) translateY(0px);
    }

    /* .site-head-open .nav-current a {
    border-bottom: #3b3b3b 2px solid;
  } */
    .site-head-open .site-head-right a {
        opacity: 0.5;
    }

    .site-head-open .f-site-foot {
        display: block;
        position: fixed;
        z-index: 2;
        bottom: 0;
        transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: translateY(-4vw);
    }
}

/* More Burger ------------------------------------------*/

/* https://github.com/jonsuh/hamburgers */

.hamburger {
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 2px 0;
    border: 0;
    color: inherit;
    font: inherit;
    text-transform: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.15s linear, filter 0.15s linear;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 13px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: color(#3b3b3b l(-20%));
    border-radius: 4px;
    transition: transform 0.15s ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -12px;
}

/*
  * Collapse
  */

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.15s;
}

.hamburger--collapse .hamburger-inner::after {
    top: -12px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.site-head-open .hamburger-inner,
.site-head-open .hamburger-inner::before,
.site-head-open .hamburger-inner::after {
    background-color: #3b3b3b;
}

.site-head-open .hamburger-inner {
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.site-head-open .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.27s linear;
}

.site-head-open .hamburger-inner::before {
    top: 0;
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(-90deg);
}

/* |||||||||||||||||||| Navbar |||||||||||||||||||||||||||||||||| */

.linear-gradient {
  /* background: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 1)
  ); */
  /* background: #3b3b3b !important; */
  top: 0;
  transition: all 0.5s ease-in-out;
}

/* .linear-gradient.open {
  background: #fff;
} */

.linear-gradient.hidden-header {
  top: -152px;
}

#toggle-icon,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 32px;
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#toggle-icon span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #46594D;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#toggle-icon span:nth-child(1) {
  top: 7px;
}

#toggle-icon span:nth-child(2) {
  top: 15px;
}

#toggle-icon span:nth-child(3) {
  top: 23px;
}

#toggle-icon.open span:nth-child(1) {
  top: 19px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#toggle-icon.open span:nth-child(2) {
  opacity: 0;
}

#toggle-icon.open span:nth-child(3) {
  top: 19px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.header .nav-list {
  @apply w-auto h-auto flex justify-center items-center;
}
.header .nav-list ul {
  @apply flex justify-center items-center gap-x-0;
}
.header .nav-list ul li {
  @apply list-none w-auto h-auto;
}
.header .nav-list ul li a {
  @apply no-underline py-1 px-2 inline-block;
}
.menu-open {
  overflow: hidden;
}
.menu-open .navbar-default {
  @apply h-[calc(100vh+70px)] overflow-y-auto;
}

.menu-item {
  /* display: flex; */
  /* justify-content: center; */
}

/* .menu-item:hover:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75%;
  margin-top: 0;
  border-bottom: 1px solid black;
} */

/* slider arrows */
.slick-prev {
    left: 25px !important;
    z-index: 1;
}

.slick-next {
    right: 25px !important;
}

@media (min-width: 640px) {
    .slick-prev {
        left: 100px !important;
        z-index: 1;
    }

    .slick-next {
        right: 100px !important;
    }
}

.project-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-slider>.slick-prev {
    left: 5px !important;
    z-index: 1;
}

.project-slider>.slick-next {
    right: 5px !important;
}

.project-slider>.slick-prev:before,
.project-slider>.slick-next:before {
    color: #F0AB6F;
}
